@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title GO GREEN <small>Emergency Traffic Monitoring System</small></h2>
<hr />

<h3>Purpose</h3>
<p>The purpose of Go Green is to help the rescuer to find the best route for emergency and the operator to remotely manipulate the traffic lights. This application will help users to save time by eliminating the waiting time for finding the best path to go and to easily pass through to the traffic light by manipulating the traffic lights.</p>

<h3>Team</h3>
<dl>
    <dd>Jessi Sibayan</dd>
    <dd>Bryan Balagao</dd>
    <dd>Eli Fernandez</dd>
    <dd>Lesther Millan</dd>
    <dd>Jan Rowell Soriano</dd>
    <dd>Karl Angelo Tayoan</dd>
</dl>

<p>
    Source Code: <a href="https://github.com/Jessi810/GoGreen">GitHub</a>, <a href="https://github.com/Jessi810/GoGreen/blob/master/LICENSE.md">License</a>
</p>
