
@{
    ViewBag.Title = "Terms and Conditions";
}

<h2>Terms and Conditions</h2>
<hr />

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a consectetur enim. Proin ultricies varius nisl vel eleifend.
    Nunc molestie nisl vitae vulputate vestibulum. Sed eu hendrerit turpis. Sed porttitor lorem nec ligula gravida, sed vulputate
    nunc posuere. Pellentesque pellentesque efficitur augue, non suscipit massa aliquam id. Suspendisse risus magna, ullamcorper et
    orci eget, dapibus gravida eros. Nunc elementum malesuada nulla ac luctus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a consectetur enim. Proin ultricies varius nisl vel eleifend.
    Nunc molestie nisl vitae vulputate vestibulum. Sed eu hendrerit turpis. Sed porttitor lorem nec ligula gravida, sed vulputate
    nunc posuere. Pellentesque pellentesque efficitur augue, non suscipit massa aliquam id. Suspendisse risus magna, ullamcorper et
    orci eget, dapibus gravida eros. Nunc elementum malesuada nulla ac luctus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a consectetur enim. Proin ultricies varius nisl vel eleifend.
    Nunc molestie nisl vitae vulputate vestibulum. Sed eu hendrerit turpis. Sed porttitor lorem nec ligula gravida, sed vulputate
    nunc posuere. Pellentesque pellentesque efficitur augue, non suscipit massa aliquam id. Suspendisse risus magna, ullamcorper et
    orci eget, dapibus gravida eros. Nunc elementum malesuada nulla ac luctus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a consectetur enim. Proin ultricies varius nisl vel eleifend.
    Nunc molestie nisl vitae vulputate vestibulum. Sed eu hendrerit turpis. Sed porttitor lorem nec ligula gravida, sed vulputate
    nunc posuere. Pellentesque pellentesque efficitur augue, non suscipit massa aliquam id. Suspendisse risus magna, ullamcorper et
    orci eget, dapibus gravida eros. Nunc elementum malesuada nulla ac luctus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a consectetur enim. Proin ultricies varius nisl vel eleifend.
    Nunc molestie nisl vitae vulputate vestibulum. Sed eu hendrerit turpis. Sed porttitor lorem nec ligula gravida, sed vulputate
    nunc posuere. Pellentesque pellentesque efficitur augue, non suscipit massa aliquam id. Suspendisse risus magna, ullamcorper et
    orci eget, dapibus gravida eros. Nunc elementum malesuada nulla ac luctus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a consectetur enim. Proin ultricies varius nisl vel eleifend.
    Nunc molestie nisl vitae vulputate vestibulum. Sed eu hendrerit turpis. Sed porttitor lorem nec ligula gravida, sed vulputate
    nunc posuere. Pellentesque pellentesque efficitur augue, non suscipit massa aliquam id. Suspendisse risus magna, ullamcorper et
    orci eget, dapibus gravida eros. Nunc elementum malesuada nulla ac luctus.
</p>