@{
    ViewBag.Title = "Reset Password";
}

<h2>Password Changed</h2>
<h4>Your password has been changed. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
